* text=auto !eol
doc/Dikes[!!-~]Overtopping[!!-~]-[!!-~]Protocol[!!-~]van[!!-~]Overdracht.docx -text
doc/Dikes[!!-~]Overtopping[!!-~]Kernel[!!-~]-[!!-~]Technical[!!-~]design.docx -text
doc/Overtopping[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]report.docx -text
doc/Release[!!-~]notes[!!-~]Dikes[!!-~]Overtopping.docx -text
doc/ScientDoc/TRRunupOvertopping.pdf -text svneol=unset#unset
doc/ScientDoc/technischrapportgolfoploopengolfoverslagbijdijken.pdf -text
doc/TestReportAppendixA.pdf -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Functional[!!-~]design.docx -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]plan.docx -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]report.docx -text
doc/Work/Besprekingsverslag[!!-~]FO[!!-~]Mechanism[!!-~]Overtopping_2012_10_12.doc -text
doc/Work/Figure[!!-~]3-1.png -text
doc/Work/Functional[!!-~]Design[!!-~]Mechanism[!!-~]Overtopping.doc -text
doc/Work/RTO[!!-~]overtopping[!!-~]module[!!-~]Functional[!!-~]Design[!!-~](2nd[!!-~]concept).doc -text
doc/Work/Readme.txt -text
doc/Work/Technical[!!-~]Design[!!-~]Mechanism[!!-~]Overtopping.doc -text
doc/Work/Testplan[!!-~]Overtopping[!!-~]module.doc -text
doc/Work/Testrapport_RTOovertoppingModule[!!-~]HKV.doc -text
doc/Work/iters.out -text
doc/Work/read_data.m -text
doc/doxygen/DikesOvertoppingFortran.doxyfile -text
doc/doxygen/DoxygenLayout.xml -text
doc/doxygen/RunDoxygen.bat -text
extern/Utils/svn_insert_version.cmd -text
release/Dikes[!!-~]Overtopping[!!-~]Kernel[!!-~]-[!!-~]Technical[!!-~]Documentation.pdf -text
release/LicenseAGPL.txt -text
release/lnx64/libDikesOvertopping.so -text
release/lnx64/libFeedbackDll.so -text
release/lnx64/libifcoremt.so.5 -text
release/lnx64/libifport.so.5 -text
release/lnx64/libimf.so -text
release/lnx64/libintlc.so.5 -text
release/lnx64/libiomp5.so -text
release/win32/dllDikesOvertopping.dll -text
release/win32/dllDikesOvertopping.lib -text
release/win32/feedbackDLL.dll -text
release/x64/dllDikesOvertopping.dll -text
release/x64/dllDikesOvertopping.lib -text
release/x64/feedbackDLL.dll -text
src/CreateSigExport.ps1 -text
src/core/CMakeLists.txt -text
src/core/external/CMakeLists.txt -text
src/core/external/feedbackDLL.vfproj -text
src/core/external/throwexception.f90 -text
src/core/external/versionInfo.f90 -text
src/core/libDikesOvertopping/submAdjInfluenceFactors.f90 -text
src/core/libDikesOvertopping/submAdjNonHorizBerms.f90 -text
src/core/libDikesOvertopping/submAllocOvertopping.f90 -text
src/core/libDikesOvertopping/submAllocVectorsGeom.f90 -text
src/core/libDikesOvertopping/submAllocsGeometry.f90 -text
src/core/libDikesOvertopping/submBasicGeometryValidation.f90 -text
src/core/libDikesOvertopping/submCalcBreakerLimit.f90 -text
src/core/libDikesOvertopping/submCalcHorzProps.f90 -text
src/core/libDikesOvertopping/submCalcOvertopping.f90 -text
src/core/libDikesOvertopping/submCalcOvertoppingSection.f90 -text
src/core/libDikesOvertopping/submCalcSegmentSlopes.f90 -text
src/core/libDikesOvertopping/submCalcWaveOvertopDischarge.f90 -text
src/core/libDikesOvertopping/submCalcWaveOvertopping.f90 -text
src/core/libDikesOvertopping/submCalcWaveProps.f90 -text
src/core/libDikesOvertopping/submCalcWaveRunup.f90 -text
src/core/libDikesOvertopping/submCheckCrossSection.f90 -text
src/core/libDikesOvertopping/submCheckInputData.f90 -text
src/core/libDikesOvertopping/submCheckModelFactors.f90 -text
src/core/libDikesOvertopping/submCheckSegmentTypes.f90 -text
src/core/libDikesOvertopping/submCopyGeom.f90 -text
src/core/libDikesOvertopping/submCubicRoots.f90 -text
src/core/libDikesOvertopping/submDetermineSegmentTypes.f90 -text
src/core/libDikesOvertopping/submInitializeGeometry.f90 -text
src/core/libDikesOvertopping/submInnerCalculation.f90 -text
src/core/libDikesOvertopping/submInterpResultsSections.f90 -text
src/core/libDikesOvertopping/submIterationWaveRunup.f90 -text
src/core/libDikesOvertopping/submMergeSequentialBerms.f90 -text
src/core/libDikesOvertopping/submOmkeerMain.f90 -text
src/core/libDikesOvertopping/submOmkeerValidProfile.f90 -text
src/core/libDikesOvertopping/submRemoveBerms.f90 -text
src/core/libDikesOvertopping/submRemoveSegments.f90 -text
src/core/libDikesOvertopping/submSplitCrossSection.f90 -text
src/core/libDikesOvertopping/utils.f90 -text
src/core/prepare_sln.cmd -text
src/core/prepare_sln.py -text
src/core/tests/unitTests/runtests.bat -text
src/licenses/LicenseAGPL.txt -text
src/wrappers/TestRunner/App.config -text
src/wrappers/TestRunner/Properties/AssemblyInfo.cs -text
src/wrappers/TestRunner/TestRunner.csproj -text
src/wrappers/TestWrapper.csproj -text
src/wrappers/lib/Deltares.Standard.dll -text
src/wrappers/lib/Deltares.Standard.pdb -text
src/wrappers/lib/nunit.framework.dll -text
test/PlotResults.m/Analyse_overtoppingmodule_results_all.m -text
test/PlotResults.m/Compare_overtoppingmodule_results_all.m -text
test/PlotResults.m/centre_title.m -text
test/PlotResults.m/md_paper_deltares.m -text
test/PlotResults.m/rd_overtoppingmodule_results_B.m -text
test/PlotResults.m/rd_overtoppingmodule_results_BPlev.m -text
test/PlotResults.m/rd_overtoppingmodule_results_C.m -text
test/PlotResults.m/rd_overtoppingmodule_results_L.m -text
test/PlotResults.m/rd_overtoppingmodule_results_layout.m -text
test/PlotResults.m/rd_profile.m -text
