* text=auto !eol
doc/Dikes[!!-~]Overtopping[!!-~]-[!!-~]Protocol[!!-~]van[!!-~]Overdracht.docx -text
doc/Dikes[!!-~]Overtopping[!!-~]Kernel[!!-~]-[!!-~]Technical[!!-~]design.docx -text
doc/Overtopping[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]report.docx -text
doc/Release[!!-~]notes[!!-~]Dikes[!!-~]Overtopping.docx -text
doc/ScientDoc/TRRunupOvertopping.pdf -text svneol=unset#unset
doc/ScientDoc/technischrapportgolfoploopengolfoverslagbijdijken.pdf -text
doc/TestReportAppendixA.pdf -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Functional[!!-~]design.docx -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]plan.docx -text
doc/Wave[!!-~]overtopping[!!-~]at[!!-~]dikes[!!-~]-[!!-~]Kernel[!!-~]-[!!-~]Test[!!-~]report.docx -text
doc/Work/Besprekingsverslag[!!-~]FO[!!-~]Mechanism[!!-~]Overtopping_2012_10_12.doc -text
doc/Work/Figure[!!-~]3-1.png -text
doc/Work/Functional[!!-~]Design[!!-~]Mechanism[!!-~]Overtopping.doc -text
doc/Work/RTO[!!-~]overtopping[!!-~]module[!!-~]Functional[!!-~]Design[!!-~](2nd[!!-~]concept).doc -text
doc/Work/Readme.txt -text
doc/Work/Technical[!!-~]Design[!!-~]Mechanism[!!-~]Overtopping.doc -text
doc/Work/Testplan[!!-~]Overtopping[!!-~]module.doc -text
doc/Work/Testrapport_RTOovertoppingModule[!!-~]HKV.doc -text
doc/Work/iters.out -text
doc/Work/read_data.m -text
doc/doxygen/DikesOvertoppingFortran.doxyfile -text
doc/doxygen/DoxygenLayout.xml -text
doc/doxygen/RunDoxygen.bat -text
extern/Utils/svn_insert_version.cmd -text
extern/java/build.gradle -text
extern/java/gradlew -text
extern/java/gradlew.bat -text
extern/java/lib/deltares/Delft_Util.jar -text
extern/java/lib/deltares/jna-3.5.1.jar -text
extern/java/lib/dlls/LicenseAGPL.txt -text
extern/java/lib/dlls/dllDikesOvertopping.dll -text
extern/java/lib/dlls/dllDikesOvertopping.lib -text
extern/java/settings.gradle -text
extern/java/src/main/java/nl/deltares/wti/Application.java -text
extern/java/src/main/java/nl/deltares/wti/kernels/dikesovertopping/LibDikesOvertopping.java -text
extern/java/src/main/java/nl/deltares/wti/kernels/dikesovertopping/OvertoppingGeometryStruct.java -text
extern/java/src/main/java/nl/deltares/wti/kernels/dikesovertopping/OvertoppingLoadStruct.java -text
extern/java/src/main/java/nl/deltares/wti/kernels/dikesovertopping/OvertoppingModelFactors.java -text
extern/java/src/main/java/nl/deltares/wti/kernels/dikesovertopping/OvertoppingResult.java -text
extern/java/src/main/java/nl/deltares/wti/webservice/api/DikesOvertoppingController.java -text
extern/java/src/main/java/nl/deltares/wti/webservice/api/dikesovertopping/DikesOvertoppingContentHandler.java -text
extern/java/src/main/java/nl/deltares/wti/webservice/api/dikesovertopping/DikesOvertoppingService.java -text
extern/java/src/main/java/nl/deltares/wti/webservice/api/dikesovertopping/JsonCalculateParser.java -text
extern/java/src/main/webapp/css/bootstrap-datepicker/bootstrap-datetimepicker.min.css -text
extern/java/src/main/webapp/css/bootstrap/bootstrap-multiselect.css -text
extern/java/src/main/webapp/css/bootstrap/bootstrap-select.css -text
extern/java/src/main/webapp/css/bootstrap/bootstrap-select.min.css -text
extern/java/src/main/webapp/css/bootstrap/bootstrap.min.css -text
extern/java/src/main/webapp/css/bootstrap/dataTables.bootstrap.css -text
extern/java/src/main/webapp/css/bootstrap/dataTables.responsive.css -text
extern/java/src/main/webapp/css/bootstrap/font-awesome.min.css -text
extern/java/src/main/webapp/css/bootstrap/metisMenu.min.css -text
extern/java/src/main/webapp/css/bootstrap/sb-admin-2.css -text
extern/java/src/main/webapp/css/core.css -text
extern/java/src/main/webapp/css/datatables/buttons.dataTables.css -text
extern/java/src/main/webapp/css/datatables/buttons.dataTables.min.css -text
extern/java/src/main/webapp/css/fonts/FontAwesome.otf -text
extern/java/src/main/webapp/css/fonts/fontawesome-webfont.eot -text
extern/java/src/main/webapp/css/fonts/fontawesome-webfont.svg -text
extern/java/src/main/webapp/css/fonts/fontawesome-webfont.ttf -text
extern/java/src/main/webapp/css/fonts/fontawesome-webfont.woff -text
extern/java/src/main/webapp/css/fonts/fontawesome-webfont.woff2 -text
extern/java/src/main/webapp/css/fonts/glyphicons-halflings-regular.woff2 -text
extern/java/src/main/webapp/css/morrisjs/morris.css -text
extern/java/src/main/webapp/css/time_of_month_picker.css -text
extern/java/src/main/webapp/images/Delft-FEWS-160x160.png -text
extern/java/src/main/webapp/images/Delft-FEWS-50x50.png -text
extern/java/src/main/webapp/images/Delft-FEWS-80x80.png -text
extern/java/src/main/webapp/images/Delft-FEWS-logo.png -text
extern/java/src/main/webapp/images/deltares_logo.png -text
extern/java/src/main/webapp/images/favicon.ico -text
extern/java/src/main/webapp/index.html -text
extern/java/src/main/webapp/js/bootstrap-datepicker/bootstrap-datetimepicker.js -text
extern/java/src/main/webapp/js/bootstrap-datepicker/bootstrap-datetimepicker.min.js -text
extern/java/src/main/webapp/js/bootstrap/bootstrap-multiselect.js -text
extern/java/src/main/webapp/js/bootstrap/bootstrap-select.js -text
extern/java/src/main/webapp/js/bootstrap/bootstrap-select.min.js -text
extern/java/src/main/webapp/js/bootstrap/bootstrap.min.js -text
extern/java/src/main/webapp/js/bootstrap/dataTables.bootstrap.min.js -text
extern/java/src/main/webapp/js/bootstrap/dataTables.responsive.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ar_AR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ar_AR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-bg_BG.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-bg_BG.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-cro_CRO.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-cro_CRO.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-cs_CZ.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-cs_CZ.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-da_DK.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-da_DK.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-de_DE.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-de_DE.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-en_US.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-en_US.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-es_CL.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-es_CL.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-es_ES.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-es_ES.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-et_EE.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-et_EE.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-eu.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-eu.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fa_IR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fa_IR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fi_FI.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fi_FI.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fr_FR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-fr_FR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-hu_HU.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-hu_HU.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-id_ID.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-id_ID.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-it_IT.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-it_IT.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ja_JP.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ja_JP.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-kh_KM.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-kh_KM.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ko_KR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ko_KR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-lt_LT.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-lt_LT.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-nb_NO.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-nb_NO.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-nl_NL.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-nl_NL.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pl_PL.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pl_PL.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pt_BR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pt_BR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pt_PT.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-pt_PT.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ro_RO.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ro_RO.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ru_RU.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ru_RU.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sk_SK.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sk_SK.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sl_SI.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sl_SI.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sv_SE.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-sv_SE.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-tr_TR.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-tr_TR.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ua_UA.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-ua_UA.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-vi_VN.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-vi_VN.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-zh_CN.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-zh_CN.min.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-zh_TW.js -text
extern/java/src/main/webapp/js/bootstrap/i18n/defaults-zh_TW.min.js -text
extern/java/src/main/webapp/js/bootstrap/jquery.dataTables.min.js -text
extern/java/src/main/webapp/js/bootstrap/jquery.min.js -text
extern/java/src/main/webapp/js/bootstrap/metisMenu.min.js -text
extern/java/src/main/webapp/js/datatables/dataTables.buttons.js -text
extern/java/src/main/webapp/js/datatables/dataTables.buttons.min.js -text
extern/java/src/main/webapp/js/datatables/datetime.js -text
extern/java/src/main/webapp/js/jquery.sortable/jquery.sortable.js -text
extern/java/src/main/webapp/js/jquery.sortable/jquery.sortable.min.js -text
extern/java/src/main/webapp/js/moment/moment-timezone.js -text
extern/java/src/main/webapp/js/moment/moment.js -text
extern/java/src/main/webapp/js/morrisjs/morris.min.js -text
extern/java/src/main/webapp/js/morrisjs/raphael.min.js -text
extern/java/src/test/java/nl/deltares/wti/kernels/dikesovertopping/LibDikesOvertoppingTest.java -text
extern/java/src/test/java/nl/deltares/wti/webservice/api/dikesovertopping/JsonCalculateParserTest.java -text
extern/java/src/test/resources/examples/json/dikesovertopping/calculateqo.json -text
extern/java/src/test/resources/examples/json/dikesovertopping/reverse.json -text
extern/java/src/test/resources/examples/json/dikesovertopping/validate.json -text
release/Dikes[!!-~]Overtopping[!!-~]Kernel[!!-~]-[!!-~]Technical[!!-~]Documentation.pdf -text
release/LicenseAGPL.txt -text
release/dllDikesOvertopping.dll -text
release/dllDikesOvertopping.lib -text
src/core/teamcity.bat -text
src/core/tests/unitTests/runtests.bat -text
src/licenses/LicenseAGPL.txt -text
src/wrappers/TestRunner/App.config -text
src/wrappers/TestRunner/Properties/AssemblyInfo.cs -text
src/wrappers/TestRunner/TestRunner.csproj -text
src/wrappers/TestWrapper.csproj -text
src/wrappers/lib/Deltares.Standard.dll -text
src/wrappers/lib/Deltares.Standard.pdb -text
src/wrappers/lib/nunit.framework.dll -text
test/PlotResults.m/Analyse_overtoppingmodule_results_all.m -text
test/PlotResults.m/Compare_overtoppingmodule_results_all.m -text
test/PlotResults.m/centre_title.m -text
test/PlotResults.m/md_paper_deltares.m -text
test/PlotResults.m/rd_overtoppingmodule_results_B.m -text
test/PlotResults.m/rd_overtoppingmodule_results_BPlev.m -text
test/PlotResults.m/rd_overtoppingmodule_results_C.m -text
test/PlotResults.m/rd_overtoppingmodule_results_L.m -text
test/PlotResults.m/rd_overtoppingmodule_results_layout.m -text
test/PlotResults.m/rd_profile.m -text
